@import url("./reset.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root[color-theme="light"] {
  --background: #fff;
  --text: #000;
  --backdrop: rgba(0, 0, 0, 0.6);
}

:root[color-theme="dark"] {
  --background: #000;
  --text: #fff;
  --backdrop: rgba(100, 148, 237, 0.3);
}

body {
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;

  background-color: var(--background);
  color: var(--text);

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#root {
  height: 100vh;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
