.normal-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.normal-input {
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px;

  /* 변동 */
  border: 1px solid #ccc;

  transition: all 0.3s ease-in-out;
}
.normal-input.focused {
  border: 2px solid var(--key-color);
  gap: 5px;
  transition: all 0.3s ease-in-out;
}

.normal-input-info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.normal-input-info.focused {
}

.normal-input-info-title {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.normal-input-info-title.focused {
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}

.normal-input-info-count {
  font-size: 12px;
  height: 12px;
  transition: all 0.3s ease-in-out;
}

.normal-input-box {
  width: 100%;
  outline: none;
  box-sizing: border-box;
  border: none;
  padding: 0;

  /* 변동 */
  height: 0;
  transition: all 0.3s ease-in-out;
}

.normal-input-box.focused {
  font-size: 18px;
  height: 18px;
  transition: all 0.3s ease-in-out;
}

.normal-input-list {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 50%;
  background-color: #fff;
  z-index: 1;
  bottom: 23px;
  right: 0;
  overflow: auto;

  /* 변동 */
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.normal-input-list.open {
  max-height: 300px;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.normal-input-list-item {
  padding: 10px;
  cursor: pointer;
}

.normal-input-list-item.selected {
  background-color: var(--key-color);
  color: #fff;
}

.normal-input-list-item:hover {
  background-color: var(--key-color);
  color: #fff;
}

.normal-input-message {
  margin-left: 10px;
  font-size: 14px;
  height: 14px;
}

.normal-input-message.valid {
  color: blue;
}
.normal-input-message.invalid {
  color: red;
}
