.email-signup-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
}

.email-signup-modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  height: 600px;
  background-color: var(--background);
  border-radius: 20px;
  padding: 50px;
}

.email-signup-modal-close {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
